.navbarcolor {
  display: flex;
  position: relative;
  width: 100%;
  background: linear-gradient(180deg, #CECDCE 0%, #E5E4E4 30.18%, #F5F5F5 63%, #FFFEFE 100%);
}

.image {
  width: 104px;
  height: 50px;
  left: 16px;
  top: 5px;
}

.logout {
  width: 77px;
  height: 19px;
  top: 18px;
  color: black;
  margin-right: 4px;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.userName {
  margin-right: 20px;
}

.vl {
  border: 1px solid #C1C2C2;
  margin-right: 20px;
}