<nav class="navbar navbarcolor">
    <a href="./home " class="navbar-brand "> <img class="image"
            src="https://s3-alpha-sig.figma.com/img/7819/1f12/76e0cdf1afecf7502c4757976f061799?Expires=1636329600&Signature=Xysc~A-2Lvox3sjdU-qQ8xk2i4i3O1Laej6tixLvhZYMPYqkGfgMxGI3CGy~BYMzNBe0a07WeUpZUpp8YkZgZDtKO~r3lrwoDdSwOuF1F2CqfSoUPwJZupIoijngjrubWFmqXABZN76FUIVaw4NdJih7VPWsjAlImRCoKzUnJ9kwi2mFpZIsaVl4GslfPcBi9zw6WW-o2pAdkigXLWS28c8LxpVvi7xtYU2PSXdMMynFEN7s~5zq1b-gUrZM6Pk6SDkFwgxzJZiqnlzy23HR6NmKwfuVfKKGZwQgV7uBoUDI5YOQ5~0DTpGpUPRyl7TjaoxZM131mGkHm-Ja4AXKEw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"></a>
    <ul>
        <li class="userName">{{userName}}, {{firstName}} {{lastName}} </li>
        <li class="vl"></li>
        <li><a href="/login" class="logout" (click)="logout()"> {{logouts}} <i class="fas fa-sign-out-alt"></i> </a>
        </li>
    </ul>
</nav>