<nav class="navbar navbarcolor">
    <a href="./home " class="navbar-brand "> <img class="image"
            src="https://s3-alpha-sig.figma.com/img/7819/1f12/76e0cdf1afecf7502c4757976f061799?Expires=1635120000&Signature=SSvuUPUiQQMvAIeCWedjF-LlnpOMtKz~KBWiOgM5H2viGKjDB-IRLm8tr0oHjiT-HzDeKvk10fWf5D8UJ7BsBBfXzYIVKg4J-KYp~d29wb7VnJoHDOBFtblykMyv7gUAO6zcGfi1CaukZP4fF7xCp64C1AtzpeXHzi24rIycqYoX9ApZuDH~qOP-8wbZ4I5ot3fhfAU2D0P7JnECWKKFk2GE4x4zUG6IioyP0BxZuumfDDTAtsm8GTYMTNA3ftitKQQJ7txQ6b5T1ng4qogFOc3s1EyqsZrbGeAvJlTgQNvDCphRxwvDhoWbIOaHey6ScJJ~LNgIorhgecSM-qQd7A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"></a>
    <ul>
        <li class="userName">{{userName}}, {{firstName}} {{lastName}} </li>
        <li class="vl"></li>
        <li><a href="/login" class="logout" (click)="logout()"> {{logouts}} <i class="fas fa-sign-out-alt"></i> </a>
        </li>
    </ul>
</nav>