.headername {
    width: 106px;
    height: 22px;
    font-family: Tahoma;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-left: 20px;
}

.card {
    height: 640px;
    top: 20px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0px 20px;
}

.ag-paging-panel {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    background-color: #E5E5E5 ;
}

.grid {
    height: 100%;width:100%;
}


.btn:hover {
    color: #fff
}

.input-text:focus {
    box-shadow: 0px 0px 0px;
    border-color: blue;
    outline: 0px
}

.filterbutton {
   width: 73px;
   height: 32px;
   left: 1114px;
}

.filtervalue {
   width: 200px;
   height: 32px;
}

.cancelButton {
    margin: 4px 8px;
}

