.body {
  height: 90vh;
  margin: 0;
  background-image:url(D:\thinkbridge\froendend\frontLine\src\assets\PageBackground.jpg);
}

.headername {
    width: 106px;
    height: 22px;
    font-family: Tahoma;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-left: 20px;
}

.card {
    height: 680px;
    top: 25px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0px 20px;
}

.ag-paging-panel {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    background-color: #E5E5E5 ;
}

.grid {
    height: 100%;width:100%;
}

::-webkit-input-placeholder {
  color: black;
  font-weight: 400;
}
.breadcrumb {
  position: absolute;
  background-color:transparent;
  margin-left: 22px;
 }

 a {
  text-decoration:none ;
}