* {
  box-sizing: border-box;
}

.body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-image:url(D:\thinkbridge\froendend\frontLine\src\assets\Frontline-LoginBackground.jpg);
}

h2{
  margin-bottom: 24px;
  color: #2D78BC;
}

.loginContainer {
    position: relative;
    width: 85%;
    height: 85%;
    background: #ffffff;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.25));
  }

  .p-viewer{
    float: right;
    margin-top: -30px;
    margin-right: 5%;
    position: relative;
    z-index: 1;
    cursor:pointer;
  }

  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .split.left {
    left: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 50%;
    top: 30%;  
  }
  
  .split.left::before {
    position: absolute;
    width: 100%;
    height: 100%;    
  }
  
  .right {
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 50%;  
  }
  
  .split.left {
    left: 0;
    padding: 0 10%;
  }

  .split.right {
    right: 0;
    padding: 0 20%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: linear-gradient(199.13deg, #5ABA48 -40.28%, #2BBCA4 34.73%, #77D1FC 69.49%, #2C77BC 105.51%);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    width: 15rem;
    padding: 1.5rem;
  }

  .loginButton{
    background: linear-gradient(264.93deg, #3DBC83 -32.62%, #31BD9A -0.47%, #46C4C2 32.78%, #57C9D7 58.59%, #0DB0EE 94.25%, #0DB0EE 103.23%);
    border: none;
    text-transform: uppercase;
 }

