<div class="body loginbackground">
    <div class="loginContainer">
        <div class="split right">
            <a href="#" class="logo"><img src="./assets/frontlinehirez.png" alt="logoImage"></a>
        </div>
        <div class="split left">
            <h2>{{loginHeaderName}}</h2>
            <form [formGroup]="loginForm">
                <div class="form-group">
                    <input type="text" formControlName="userName" class="form-control" placeholder="{{userName}}"
                        [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" required />
                    <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                        <div *ngIf="f.userName.errors.required"> {{userError}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control"
                        placeholder=" {{passwordName}}  " [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                        type="{{ hide ? 'password' : 'text'}}" required />
                    <span class="p-viewer">
                        <i class="far fa-eye-slash" aria-hidden="true" (click)="hide = !hide" [hidden]="showPassword"
                            (click)=show()></i>
                        <i class="far fa-eye" aria-hidden="true" (click)="hide = !hide" [hidden]="!showPassword"
                            (click)=hides()></i>
                    </span>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required"> {{passwordError}} </div>
                        <div *ngIf="f.password.errors.minlength"> {{passwordErrorMinlength}} </div>
                    </div>
                </div>
                <div class="form-group form-check">
                    <div class="row">
                        <div class="col">
                            <input type="checkbox" class="form-check-input" id="rememberpassword">
                            <label class="form-check-label" for="rememberpassword"> {{rememberMe}}</label>
                        </div>
                        <div class="col text-right">
                            <a href="">{{forgotPassword}}</a>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn loginButton btn-primary btn-block mt-2" (click)="onLogin()">
                    {{loginButton}}
                    &nbsp; <i class="fas fa-sign-in-alt"></i> </button>
            </form>
        </div>
    </div>
</div>