.customHeight {
    height: calc(85vh - 75px);
    margin: 5px 10px;
}

.container-height {
    margin: 0px 0px;
}

.f-right {
    float: right;
}

a {
    cursor: pointer;
}

.customHeights {
    height: calc(46vh - 40px);
    margin: 5px 10px;
}

@media (min-width: 1650px) {    
    .customHeights {
        height: calc(55vh - 40px);
        margin: 5px 10px;
    }
}