/* You can add global styles to this file, and also import other style files */
@import '~@ag-grid-community/all-modules/dist/styles/ag-grid.css';
//@import '~@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css';
@import '~@ag-grid-community/all-modules/dist/styles/ag-theme-material.css';

@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap/dist/css/bootstrap-grid.css';

@import './assets/customStyles.scss';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.rag-red {
    background-color: lightcoral;
  }
  .rag-green {
    background-color: lightgreen;
  }
  .rag-amber {
    background-color: lightsalmon;
  }
  
  .rag-red-outer .rag-element {
    background-color: lightcoral;
  }
  
  .rag-green-outer .rag-element {
    background-color: lightgreen;
  }
  
  .rag-amber-outer .rag-element {
    background-color: lightsalmon;
  }

  .loginbackground {
     background-image:url("assets/Frontline-LoginBackground.jpg");
  }
